
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.navbar a:hover {
    text-decoration: underline;
}

#messages {
    max-height: 500px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

.message {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(24, 210, 255, 0.47);
}

.message .time {
    color: #999;
    font-size: 10px;
    margin-left: 10px;
    white-space: nowrap;
}

#messageInput {
    width: calc(80% - 70px);
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#sendButton {
    padding: 10px 20px;
    border: none;
    background-color: #2196F3;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#sendButton:hover {
    background-color: #1976D2;
}
