.d-flex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

.j-around {
    justify-content: space-around;
}

.j-end {
    justify-content: end;
}

.a-center {
    align-items: center;
}

.a-stretch {
    align-items: stretch;
}

.a-end {
    align-items: flex-end;
}

.direction-col {
    flex-direction: column;
}

.grow1 {
    flex: 1;
}

.grow2 {
    flex: 2;
}

.grow3 {
    flex: 3;
}

.grow4 {
    flex: 4;
}

.gap10 {
    gap: 10px
}

.gap20 {
    gap: 20px
}

.wrap {
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.p10 {
    padding: 10px;
}

.p20 {
    padding: 20px;
}

.mt3 {
    margin-top: 30px;
}

.mt5 {
    margin-top: 50px;
}

.mb5 {
    margin-bottom: 50px;
}

.mt10 {
    margin-top: 100px;
}

.mb10 {
    margin-bottom: 100px;
}

.ml1 {
    margin-left: 10px;
}

.order1 {
    order: 1;
}

.order2 {
    order: 2;
}

.order3 {
    order: 3;
}

/*INDIVIDUAL CLASSES*/

.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
}


.h1 {
    font-size: 3rem;
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s ease-out forwards, slideIn 1.5s ease-out forwards;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes slideIn {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0);
    }
}

p {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #ff7e5f, #feb47b, #6a11cb, #2575fc);
    background-size: cover;
    background-attachment: fixed;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(45deg, #ff7e5f, #feb47b, #6a11cb, #2575fc);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.navbar button:hover {
    background-color: #d32f2f;
}

#user-info {
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: #333;
}


.container {
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;
}



